* {
  margin: 0;
}

body {
  background: #2c2c2c;
}

nav {
  z-index: 1;
}

nav img{
  display: none;
}

.logo {
  margin-left: 50px;
  margin-top: 20px;
  font-size: 30px;
  font-weight: bold;
}

.logo .txt1 {
  color: white;
}

.logo .txt2 {
  color: rgb(253, 183, 53);
}

ul a {
  text-decoration: none;
  color: white;
}

ul {
  display: flex;
  margin-left: 150px;
  margin-top: -50px;
  font-size: 20px;
  list-style: none;
  float: right;
  margin-right: 100px;
  margin-bottom: 100px;
}

ul li {
  margin-right: 100px;
}

.active {
  color: rgb(253, 183, 53);
}

.border {
  margin-top: 10px;
  width: 100%;
  border-bottom: 2px solid rgb(253, 183, 53);
}

#header {
  width: 180px;
  height: 15px;
  border: 1px solid rgb(253, 183, 53);
  text-align: center;
  margin: auto;
  border-radius: 10px;
  padding: 15px;
  margin-top: 120px;
}

#header span {
  font-size: 20px;
  color: white;
}

.blog {
  height: 680px;
  width: 500px;
  border: 1px solid rgb(253, 183, 53);
  margin: auto;
  margin-top: 150px;
  border-radius: 8px;
}

.profile {
  display: flex;
  flex-direction: row;
  padding: 20px 20px;
}

.cover img {
  height: 150px;
  margin-left: 86px;
  margin-top: 30px;
}

.img {
  border: 2px solid white;
  border-radius: 50%;
  overflow: hidden;
  background: white;
}

.profile .img img {
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  color: white;
}

.profile .name,
.separate,
.date {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
  margin-left: 10px;
}

.separate {
  font-weight: bold;
}

.profile .name {
  font-weight: bold;
}

.story p {
  color: rgba(255, 255, 255, 0.9);
  margin-left: 90px;
  margin-top: -20px;
  max-width: 35ch;
}

.story p {
  color: rgba(255, 255, 255, 0.9);
  margin-left: 90px;
  margin-top: -20px;
  max-width: 35ch;
  font-size: 20px;
}

.line {
  border-bottom: 1px solid rgb(253, 183, 53);
  margin-top: 30px;
  margin-left: 90px;
  margin-right: 40px;
}

.time {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 90px;
  margin-top: 15px;
}

.date3 {
  margin-left: 20px;
}

.separate2 {
  margin-left: 20px;
  font-weight: bold;
}

.react {
  display: flex;
  flex-direction: row;
  color: white;
  margin-left: 90px;
  margin-top: 20px;
}

.like {
  margin-right: 50px;
  font-size: 25px;
}

.like img {
  height: 25px;
}

.comment {
  font-size: 25px;
}

.comment img {
  height: 35px;
}

#comment {
  color: rgba(255, 255, 255, 0.9);
  margin-top: 20px;
}

#comment .name{
  margin-top: 20px;
  margin-left: 90px;
  font-size: 15px;
  font-weight: bold;
}

#comment .com{
  margin-left: 160px;
  font-size: 20px;
  font-weight: bold;
}

.reply{
  margin-left: 100px;
    margin-top: 20px;
    max-width: none;
    font-size: 18px;
    color: white;
}

.news {
  margin-left: -70px;
  color: rgba(255, 255, 255, 0.6);
}

.letter {
  margin: auto;
  text-align: center;
  background: #404040;
  margin-top: 80px;
  height: 300px;
  width: 500px;
  border: 1px solid rgb(253, 183, 53);
}

.sub {
  margin-top: 30px;
  padding: 10px;
  width: 150px;
  font-size: 15px;
  font-weight: bold;
  background: rgb(44, 44, 44);
  border: 1px solid rgb(253, 183, 53);
  color: rgb(253, 183, 53);
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

input[type="text"] {
  width: 400px;
  padding: 15px;
  margin-top: 20px;
  border: none;
  border-radius: 4px;
  background-color: #2c2c2c;
  box-sizing: border-box;
  color: white;
}
input[type="text"]::placeholder {
  padding-left: 20px;
  color: white;
}

.letter h4,
input,
button {
  padding-top: 100px;
}

footer {
  background-color: rgb(44, 44, 44);
  text-align: center;
}

.fline {
  padding-top: 150px;
  border-bottom: 2px solid rgb(253, 183, 53);
}

.links {
  display: flex;
  flex-direction: row;
}

.brand h2 {
  margin-top: 80px;
  color: white;
  font-size: 20px;
}

.brand .links {
  margin-top: 50px;
  font-size: 20px;
  margin-left: 550px;
}

.brand a {
  color: white;
  text-decoration: none;
  margin-bottom: 50px;
  margin-inline: 100px;
}

.copy {
  color: white;
  font-size: 17px;
  padding-bottom: 30px;
}



@media screen and (max-width: 700px) {
   
  nav img{
    display: none;
  }
   
  .logo {
    margin-left: 30px;
    margin-top: 15px;
    font-size: 26px;
  }

  ul {
    margin-left: 30px;
    margin-right: 30px;
    font-size: 18px;
    text-align: center;
    margin-bottom: 30px;
  }

  ul li {
    margin-right: 10px;
  }

  .border {
    margin-top: 10px;
    width: 1800px;
    border-bottom: 2px solid rgb(253, 183, 53);
  }
  
  #header {
    width: 280px;
    height: 55px;
    border: 1px solid rgb(253, 183, 53);
    text-align: center;
    margin-left: 680px;
    border-radius: 10px;
    padding: 15px;
    margin-top: 120px;
  }
  
  #header span {
    font-size: 20px;
    color: white;
  } 

  ul {
    display: flex;
    margin-top: -35px;
    font-size: 20px;
    list-style: none;
    position: absolute;
    left: 700px;
    margin-bottom: 100px;
  }
  
  ul li {
    margin-right: 120px;
  }

  #blog {
    width: 90%;
    margin-left: 600px;
    margin-top: 50px;
    height: auto;
    box-sizing: border-box;
  }

  .cover img {
    height: auto;
    margin-left: 30px;
    margin-top: 30px;
  }

  .img img {
    height: 40px;
  }

  .profile .name,
  .separate,
  .date {
    margin-top: 20px;
    margin-left: 30px;
  }

  .story p {
    margin-left: 30px;
    margin-top: -20px;
    max-width: none;
    font-size: 18px;
  }

  .line {
    margin-left: 30px;
    margin-right: 30px;
  }

  .time,
  .react {
    margin-left: 30px;
    margin-top: 20px;
  }

  .news {
    margin-left: 30px;
  }

  .letter {
    width: 90%;
    margin-left: 600px;
    margin-top: 80px;
  }

  .letter h4{
    margin-top: 50px;
  }

  input[type="text"] {
    width: 80%;
    margin: auto;
    margin-top: 30px;
  }

  .sub {
    width: 60%;
    margin: auto;
    margin-top: 30px;
  }

  .letter h4,
  input,
  button {
    padding-top: 20px;
  }

  .fline{
    width: 1800px;
  }

  footer{
    position: absolute;
    top: 2700px;
  }

  .brand .links {
    margin-top: 50px;
    font-size: 20px;
    margin-left: 450px;
  }


  .copy {
    padding-bottom: 20px;
  }
}

@media screen and (max-width: 400px) {
  
  nav img{
    display: block;
    position: absolute;
    top: 50px;
    left: 80px;
    height: 30px;
  }

 .logo {
    position: absolute;
    left: 700px;
    font-size: 50px;
    font-weight: bold;
  }

  ul {
    display: none;
  }

  .border {
    height: 100px;
    width: 1600px;
    padding-top: 30px;
    }

  #header {
    width: 30%;
    margin-left: 780px;
    margin-top: 80px;
  }

  #blog {
    width: 120%;
    margin-left: 700px;
    margin-top: 30px;
    height: 600px;
    margin-bottom: 50px;
    font-size: 25px;
  }

  .cover img {
    height: 170px;
    margin-left: 20px;
    margin-top: 20px;
  }

  .img img {
    height: 30px;
  }

  .profile .name,
  .separate,
  .date {
    margin-top: 10px;
    margin-left: 20px;
  }

  .story p {
    margin-left: 20px;
    margin-top: -20px;
    max-width: none;
    font-size: 16px;
  }

  .line {
    margin-left: 20px;
    margin-right: 20px;
  }

  .time,
  .react {
    margin-left: 20px;
    margin-top: 10px;
  }

  .news {
    margin-left: 20px;
  }

  .letter {
    width: 120%;
    margin-left: 700px;
    margin-top: 50px;
    text-align: center;
  }

  .letter h4{
    margin-top: 80px;
  }

  input[type="text"] {
    width: 90%;
    margin: auto;
    margin-top: 20px;
  }

  .sub {
    width: 70%;
    margin: auto;
    margin-top: 20px;
  }

  .letter h4,
  input,
  button {
    padding-top: 0;
  }

  footer{
    position: absolute;
    top: 2600px;
  }

  .brand .links {
    margin-top: 50px;
    font-size: 25px;
    margin-left: 500px;

  }

  .link{
    margin-left: 100px;
    font-size: 25px;
  }

  .fline{
    width: 1600px;
  }
  
}


