* {
    margin: 0;
  }
  
  body {
    background: #2c2c2c;
  }
  
  nav {
    z-index: 1;
  }
  
  nav img{
    display: none;
  }

  .logo {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
  }
  
  .logo .txt1 {
    color: white;
  }
  
  .logo .txt2 {
    color: rgb(253, 183, 53);
  }
  
  ul a {
    text-decoration: none;
    color: white;
  }
  
  ul {
    display: flex;
    margin-left: 150px;
    margin-top: -50px;
    font-size: 20px;
    list-style: none;
    float: right;
    margin-right: 100px;
    margin-bottom: 100px;
  }
  
  ul li {
    margin-right: 100px;
  }
  
  .active {
    color: rgb(253, 183, 53);
  }
    
  #header {
    width: 180px;
    height: 15px;
    border: 1px solid rgb(253, 183, 53);
    text-align: center;
    margin: auto;
    border-radius: 10px;
    padding: 15px;
    margin-top: 120px;
  }
  
  #header span {
    font-size: 20px;
    color: white;
  }

  .border {
    margin-top: 10px;
    width: 100%;
    border-bottom: 2px solid rgb(253, 183, 53);
  }
    
  .tech {
    text-align: center;
    margin-top: 20px;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.6);
  }
    
    .qualify{
        padding-bottom: 70px;
    }

    .titles{
        display: flex;
        flex-direction: row;
        margin-right: 370px;
        padding-top: 50px;
    }
    
    .qheader1{
        color: white;
        margin-top: 100px;
        font-size: 20px;
        margin: auto;
    }

     
    .qheader2{
        color: white;
        margin-top: 100px;
        font-size: 20px;
        margin: auto;
    }

     
    .qheader3{
        color: white;
        margin-top: 100px;
        font-size: 20px;
        margin: auto;
    }

    
    .titles{
        margin-left: 385px;
        display: flex;
    }
    
    .headers{
        margin-bottom: 50px;
        margin-left: 200px;
        color: white;
        font-size: 20px;
    }
    
    .flex{
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        
    }
    
   #wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
   }
   
    
    .experience .card:nth-child(2){
        margin-bottom: 50px;
    }
    
    .card{
        border: 1px solid rgb(253, 183, 53);
        width: 400px;
        padding: 30px;
        display: flex;
        flex-direction: row;
        align-items: center;
        font-size: 20px;
        border-radius: 10px;
    }
    
   
    
    .flex .card p{
        color: rgba(255, 255, 255,0.6);
    }

    .flex .card .info{
        color: rgba(255, 255, 255,0.6);
    }
    .flex .card .date{
        color: rgba(255, 255, 255,0.6);
        margin-right: 30px;
    }

    .flex2{
      margin-top: 100px;
      margin-left: 50px;
      display: flex;
      flex-direction: column;
      
  }

  .flex .card{
    margin-top: 50px;
  }
  
  .flex2 .card{
    margin-top: 50px;
  }
  
  .project{
     color: white;
     margin: 20px;
  } 

    .flex2 .card p{
      color: rgba(255, 255, 255,0.6);
  }

  .flex2 .card .info{
      color: rgba(255, 255, 255,0.6);
  }
  .flex2 .card .date{
      color: rgba(255, 255, 255,0.6);
      margin-right: 30px;
  }
    .one{
        margin-left: 90px;
        margin-top: 7px;
        padding: 10px;
        width: 100px;
        font-size: 15px;
        font-weight: bold;
        background: rgb(44, 44, 44);
        border: 1px solid rgb(255, 255, 255);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        cursor: pointer;
    }
    .one1{
        margin-left: 90px;
        margin-top: 7px;
        padding: 10px;
        width: 100px;
        font-size: 15px;
        font-weight: bold;
        background: rgb(44, 44, 44);
        border: 1px solid rgb(253, 183, 53);
        color: rgb(255, 255, 255);
        border-radius: 5px;
        cursor: pointer;
    }
    .oneone{
        margin-left: 520px;
    }

    
    footer{
        background-color: rgb(44, 44, 44);
        text-align: center;
    }
    
    .fline{
        padding-top: 150px;
        border-bottom: 2px solid rgb(253, 183, 53);
    }
    
    .links{
        display: flex;
        flex-direction: row;
    }
    
    .brand h2{
        margin-top: 80px;
        color: white;
    }
    
    .brand .links{
        margin-top: 50px;
        font-size: 20px;
        margin-left: 480px;
    }
    
    .brand a{
        color: white;
        text-decoration: none;
        margin-bottom: 50px;
        margin-inline: 100px;
    }
    
    .copy{
        color: white;
        font-size: 17px;
        padding-bottom: 30px;
    }footer {
        background-color: rgb(44, 44, 44);
        text-align: center;
      }
      
      .fline {
        padding-top: 150px;
        border-bottom: 2px solid rgb(253, 183, 53);
      }
      
      .links {
        display: flex;
        flex-direction: row;
      }
      
      .brand h2 {
        margin-top: 80px;
        color: white;
        font-size: 20px;
      }
      
      .brand .links {
        margin-top: 50px;
        font-size: 20px;
        margin-left: 550px;
      }
      
      .brand a {
        color: white;
        text-decoration: none;
        margin-bottom: 50px;
        margin-inline: 100px;
      }
      
      .copy {
        color: white;
        font-size: 17px;
        padding-bottom: 30px;
      }


@media screen and (max-width: 400px) {
  
  ul{
    display: none;
  }

   nav img{
    display: block;
    position: absolute;
    top: 10px;
    left: 80px;
    height: 50px;
  }

  .logo {
    position: absolute;
    left: 700px;
    top: 10px;
  }

  .txt1, .txt2{
    font-size: 50px;
    font-weight: bold;
  }

  .border {
  height: 100px;
  width: 1600px;
  padding-top: 10px;
  }

  #header {
    width: 280px;
    height: 50px;
    border: 1px solid rgb(253, 183, 53);
    position: absolute;
    left: 700px;
    border-radius: 10px;  
    font-size: 50px;
  }

  #header span{
    font-size: 25px;
  }

  .tech {
    font-size: 25px;
    position: relative;
    top: 230px;
    left: 650px;
    font-size: 50px;
  }

  .titles{
    margin-left: 700px;
    margin-top: 400px;
  }

  .titles h2{
    font-size: 30px;
    margin-left: 30px;
  }
  
  .oneone{
    display: flex;
    flex-direction: row;
  }

  .flex{
    margin-left: 1300px;
  }

  .flex2{
    margin-left: 150px;
  }

  .flex, .flex2{
    padding-top: 50px;
    padding-bottom: 100px;
  }

  .card{
    height: 500px;
    width: 400px;
    border: 5px solid rgb(253, 183, 53);
    font-size: 30px;
  }

  .one1{
    padding: 30px;
    font-size: 50px;
    border: 5px solid rgb(253, 183, 53);
  }

  .one{
    padding: 30px;
    font-size: 50px;
    border: 5px solid white;
  }

  footer{
    position: absolute;
    top: 2200px;
    font-size: 50px;
  }

  .brand h2{
    font-size: 30px;
  }

  .brand .links {
    margin-top: 50px;
    font-size: 30px;
    margin-left: 380px;
  }

  .fline{
    width: 1600px;
  }
   
}

@media screen and (max-width: 700px) {
   
  nav img{
    display: none;
  }

  .logo {
    margin-left: 50px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
  }
    
  ul a {
    text-decoration: none;
    color: white;
  }
  
  ul {
    display: flex;
    margin-top: -35px;
    font-size: 20px;
    list-style: none;
    position: absolute;
    left: 700px;
    margin-bottom: 100px;
  }
  
  ul li {
    margin-right: 120px;
  }

  .border {
    height: 50px;
    width: 1780px;
    }

    #header {
      width: 180px;
      height: 50px;
      border: 1px solid rgb(253, 183, 53);
      position: absolute;
      left: 700px;
      border-radius: 10px;  
      font-size: 25px;
    }
  
    #header span{
      font-size: 25px;
    }
  
    .tech {
      font-size: 25px;
      position: relative;
      top: 230px;
      left: 460px;
    }

    .flex{
      margin-left: 1100px;

    }

    .flex, .flex2{
      padding-top: 100px;
    }

    .card{
      height: 400px;
    }

    .titles{
        margin-left: 750px;
        margin-top: 210px;
    }

    footer{
      position: absolute;
      top: 1800px;
    }
  
    .brand .links {
      margin-top: 50px;
      font-size: 20px;
      margin-left: 450px;
    }

    .fline{
      width: 1780px;
    }

    .oneone{
      display: flex;
      flex-direction: row;
    }
}
